body {
    font: 13px/1.5 Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif
}

img {
    border-width: 0;
}

a:link {
	color: #8F9393;
	font-family: "Droid Sans" sans-serif;
}     /* unvisited link */
a:visited {
	color: #7B8181;
}  /* visited link */
a:hover {
	color: black;
}   /* mouse over link */
a:active {
	color: #505757;
}   /* selected link */

input#q {
	margin: 4px;
}

input.lsb {
	margin: 3px;
}

div.pinned_pages {
    float: right;
    padding-right: 5px;
    width: 200px;
}

#alert_connection {
    -moz-border-radius: 5px;
    background: #ff0000;
    font-weight: bold;
    color: white;
    text-shadow: #6374AB 3px 3px 5px;
    text-align: center;
    width: 50%;
    font-size: x-large;
    padding: 10px;
}

#pinned_pages_default_msg {
    width: 50%;
    padding: 50px;
    border: 2px solid #c5a3fc;
}

div.favorite {
    display: inline-block;
    width: 197px;
    vertical-align: top;
    margin-right: 10px;
}

div.thumbnail {
    border: 3px solid #d5dcdf;
    -moz-border-radius: 10px;
    width: 193px;
    height: 111px;
    margin-top: 5px;
}

div.thumbnail:hover {
    border-color: #c5a3fc;
    margin-top: 2px;
}

img.thumbnail {
    position: absolute;
}

div#favorites {
    display: inline-block;
    width: 90%;
    margin-top: 5%;
    padding: 0px;
    background: white;
    border: 0px solid #aee0f6;
    -moz-border-radius: 8px;
    vertical-align: top;
    text-align: center;
}

div#content_area {
    margin-top: 0px;
    margin-left: 0px;
    height: 50%
}

*.pinned_page_title {
    font-size: larger;
    margin-left: 4px;
    height: 2px;
}

.pinned_page_div a {
    text-decoration: none;
}

*.pinned_page_favicon {
    padding-right: 12px;
}

div.pinned_page_div {
    padding: 20px;
    background:white;
    display: inline-block;
    width: 197px;
    vertical-align: top;
    margin: 0px;
    -moz-user-select:none;
}

span.pinned_visit_time {
    font-size: smaller;
    font-style: italic;
    display: none; /* we don't want this for now */
}

*.close-button-outer{
    position: absolute;
}

*.close-button-inner {
    /* don't display the remove button unless
       the mouse is over the favorite */
    #display: none;

    position: absolute;
    z-index: 5;
    top: 12px;
    right: -190px;
    width: 24px;
    height: 24px;
    background-image: url('bro-x-button-up.png');
}

*.inside{
    display: block;
}

*.waiting{
    display: none;
}

*.close-button-inner:hover {
    background-image: url('bro-x-button-dn.png');
}

div.pinned_page_thumbnail {
    float: left;
}

div.pinned_page_thumbnail:hover *.close-button-inner {
    display: block;
}

*#bloom_logo {
    margin-left: 25px;
    margin-top: 34px;
    display: block;
}
